@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-zinc-900;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-zinc-500 hover:bg-zinc-500/40 rounded-[10px];
}

input#file-upload-button {
  bakcground-color: #ffdfdf !important;
}

.custom_input-style {
  @apply outline-none border-b-2 border-zinc-700/80 bg-transparent py-2 px-3  placeholder:text-gray-800 hover:placeholder:text-gray-400 active:border-zinc-600/100 hover:border-zinc-600/100;
}

input::file-selector-button {
  @apply text-zinc-900 border-none outline-none rounded-sm  px-2;
  background-color: white !important;
  font-size: 0.8rem !important;
  transition: background-color cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.15s;
}

input::file-selector-button:hover {
  background-color: #cdcdcd !important;
  cursor: pointer !important;
}

.input-styles {
  @apply border-slate-800 w-full placeholder:text-sm bg-transparent text-white outline-none focus-visible:border focus-visible:border-zinc-800 ring-offset-slate-600;
}

.animate-template {
  transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 500ms;
}
